.block_ {
    background-color: transparent;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    color: #353744;
    display: block;
    font-size: 1.77778em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.block_1 {
    background-color: transparent;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    color: #00ab44;
    display: block;
    font-size: 0.88889em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_2 {
    background-color: transparent;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_3 {
    background-color: transparent;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_4 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_5 {
    color: #53bb84;
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_6 {
    background-color: transparent;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    border-left-style: none;
    border-left-width: 1pt;
    border-right-style: none;
    border-right-width: 1pt;
    border-top-style: none;
    border-top-width: 1pt;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_7 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_8 {
    color: #53bb84;
    display: block;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_9 {
    background-color: transparent;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    color: #353744;
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_10 {
    background-color: transparent;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    display: block;
    font-size: 0.88889em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_11 {
    background-color: transparent;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    display: table-row;
    font-size: 0.88889em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_12 {
    background-color: transparent;
    display: table-row;
    font-size: 0.88889em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_13 {
    display: table-row;
    font-size: 0.88889em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_14 {
    background-color: transparent;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_15 {
    background-color: transparent;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    display: table-row;
    font-size: 0.88889em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_16 {
    background-color: transparent;
    display: block;
    font-size: 0.88889em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_17 {
    display: table-row;
    font-size: 0.88889em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_18 {
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_19 {
    color: #666;
    display: block;
    font-size: 0.88889em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.bullet_ {
    display: table-cell;
    font-weight: bold;
    text-decoration: none
    }
.calibre {
    display: block;
    font-family: "Proxima Nova", serif;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    white-space: pre-wrap
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    font-style: italic
    }
.calibre4 {
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 36pt;
    padding-right: 0;
    padding-top: 0
    }
.calibre5 {
    display: table-cell
    }
.text_ {
    font-size: 1.41667em;
    line-height: 1.2
    }
.text_1 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.text_2 {
    color: #666
    }
.text_3 {
    color: #15c;
    text-decoration: underline
    }
.text_4 {
    color: #666;
    font-size: 0.75em
    }
.text_5 {
    font-size: 1.125em;
    line-height: 1.2
    }
.text_6 {
    color: #353744;
    font-weight: bold
    }
.text_7 {
    color: #666;
    font-style: italic
    }
.text_8 {
    color: #666;
    font-size: 1em
    }
.text_9 {
    font-size: 1em;
    line-height: 1.2
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/Proxima Nova - Bold.ttf");
    font-weight: bold
    }
@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/Proxima Nova - Regular.ttf")
    }
@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/Proxima Nova - Italic.ttf");
    font-style: italic
    }

